In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train, X_test = train_test_split(df,test_size=0.2, random_state=42)

In [5]:
df.shape

(891, 12)

In [6]:
X_train.shape, X_test.shape

((712, 12), (179, 12))

In [7]:
X_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [8]:
df.isna().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [9]:
df['Ticket'].value_counts()

Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64

In [10]:
X_train.drop(columns=['Name', 'Cabin', 'Ticket'], inplace=True)
X_test.drop(columns=['Name', 'Cabin', 'Ticket'], inplace=True)

In [11]:
X_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
331,332,0,1,male,45.5,0,0,28.5000,S
733,734,0,2,male,23.0,0,0,13.0000,S
382,383,0,3,male,32.0,0,0,7.9250,S
704,705,0,3,male,26.0,1,0,7.8542,S
813,814,0,3,female,6.0,4,2,31.2750,S

In [12]:
X_train.groupby('Sex').agg({'Survived' : 'mean'})

        Survived
Sex
female  0.738776
male    0.186296

In [13]:
X_train['gender_num'] = np.where(X_train['Sex'] == 'female', 1, 0)

In [14]:
X_test['gender_num'] = np.where(X_test['Sex'] == 'female', 1, 0)

In [15]:
X_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,gender_num
331,332,0,1,male,45.5,0,0,28.5000,S,0
733,734,0,2,male,23.0,0,0,13.0000,S,0
382,383,0,3,male,32.0,0,0,7.9250,S,0
704,705,0,3,male,26.0,1,0,7.8542,S,0
813,814,0,3,female,6.0,4,2,31.2750,S,1

In [16]:
X_test.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,gender_num
709,710,1,3,male,NaN,1,1,15.2458,C,0
439,440,0,2,male,31.0,0,0,10.5000,S,0
840,841,0,3,male,20.0,0,0,7.9250,S,0
720,721,1,2,female,6.0,0,1,33.0000,S,1
39,40,1,3,female,14.0,1,0,11.2417,C,1

In [17]:
X_train.groupby('Embarked').agg({'Survived' : 'mean'})

          Survived
Embarked
C         0.544000
Q         0.366667
S         0.335238

In [18]:
X_train['embarked_num'] = np.where(X_train['Embarked'] == 'C', 1, 0)
X_test['embarked_num'] = np.where(X_test['Embarked'] == 'C', 1, 0)

In [19]:
X_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,gender_num,embarked_num
331,332,0,1,male,45.5,0,0,28.5000,S,0,0
733,734,0,2,male,23.0,0,0,13.0000,S,0,0
382,383,0,3,male,32.0,0,0,7.9250,S,0,0
704,705,0,3,male,26.0,1,0,7.8542,S,0,0
813,814,0,3,female,6.0,4,2,31.2750,S,1,0

In [20]:
X_train.drop(columns=['Sex', 'Embarked'], inplace=True)
X_test.drop(columns=['Sex', 'Embarked'], inplace=True)

In [21]:
X_train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,gender_num,embarked_num
331,332,0,1,45.5,0,0,28.5000,0,0
733,734,0,2,23.0,0,0,13.0000,0,0
382,383,0,3,32.0,0,0,7.9250,0,0
704,705,0,3,26.0,1,0,7.8542,0,0
813,814,0,3,6.0,4,2,31.2750,1,0

In [22]:
X_test.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,gender_num,embarked_num
709,710,1,3,NaN,1,1,15.2458,0,1
439,440,0,2,31.0,0,0,10.5000,0,0
840,841,0,3,20.0,0,0,7.9250,0,0
720,721,1,2,6.0,0,1,33.0000,1,0
39,40,1,3,14.0,1,0,11.2417,1,1

In [23]:
X_train.isna().mean()

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Age             0.196629
SibSp           0.000000
Parch           0.000000
Fare            0.000000
gender_num      0.000000
embarked_num    0.000000
dtype: float64

In [24]:
X_train['Age'].mode()

0    24.0
Name: Age, dtype: float64

In [25]:
X_train.fillna(24, inplace=True)

In [26]:
X_test.fillna(24, inplace=True)

In [27]:
X_train.isna().mean()

PassengerId     0.0
Survived        0.0
Pclass          0.0
Age             0.0
SibSp           0.0
Parch           0.0
Fare            0.0
gender_num      0.0
embarked_num    0.0
dtype: float64

In [28]:
X_test.isna().mean()

PassengerId     0.0
Survived        0.0
Pclass          0.0
Age             0.0
SibSp           0.0
Parch           0.0
Fare            0.0
gender_num      0.0
embarked_num    0.0
dtype: float64

In [29]:
X_train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,gender_num,embarked_num
331,332,0,1,45.5,0,0,28.5000,0,0
733,734,0,2,23.0,0,0,13.0000,0,0
382,383,0,3,32.0,0,0,7.9250,0,0
704,705,0,3,26.0,1,0,7.8542,0,0
813,814,0,3,6.0,4,2,31.2750,1,0

In [30]:
train_ids = X_train.pop('PassengerId')
y_train = X_train.pop('Survived')

test_ids = X_test.pop('PassengerId')
y_test = X_test.pop('Survived')

In [31]:
X_train.head()

     Pclass   Age  SibSp  Parch     Fare  gender_num  embarked_num
331       1  45.5      0      0  28.5000           0             0
733       2  23.0      0      0  13.0000           0             0
382       3  32.0      0      0   7.9250           0             0
704       3  26.0      1      0   7.8542           0             0
813       3   6.0      4      2  31.2750           1             0

In [32]:
X_test.head()

     Pclass   Age  SibSp  Parch     Fare  gender_num  embarked_num
709       3  24.0      1      1  15.2458           0             1
439       2  31.0      0      0  10.5000           0             0
840       3  20.0      0      0   7.9250           0             0
720       2   6.0      0      1  33.0000           1             0
39        3  14.0      1      0  11.2417           1             1

In [33]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((712, 7), (712,), (179, 7), (179,))

In [34]:
X_train.head()

     Pclass   Age  SibSp  Parch     Fare  gender_num  embarked_num
331       1  45.5      0      0  28.5000           0             0
733       2  23.0      0      0  13.0000           0             0
382       3  32.0      0      0   7.9250           0             0
704       3  26.0      1      0   7.8542           0             0
813       3   6.0      4      2  31.2750           1             0

In [35]:
y_train

331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 712, dtype: int64

In [36]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [37]:
X_scaled_train = scaler.transform(X_train)
X_scaled_test = scaler.transform(X_test)

In [38]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
min_max_scaler.fit(X_train)

MinMaxScaler()

In [39]:
X_min_max_train =  min_max_scaler.transform(X_train)
X_min_max_test = min_max_scaler.transform(X_test)

In [40]:
from sklearn.linear_model import LogisticRegression

model_1 = LogisticRegression().fit(X_scaled_train, y_train)
model_2 = LogisticRegression().fit(X_min_max_train, y_train)

# Evaluate Train Set

In [41]:
prob_train_1 = model_1.predict(X_scaled_train)
prob_train_2 = model_2.predict(X_min_max_train)

In [42]:
prob_train_1.mean(), prob_train_2.mean(), y_train.mean()

(0.34269662921348315, 0.34831460674157305, 0.37640449438202245)

K Fold

In [43]:
X = pd.dataframe(X_scaled_train)

AttributeError: module 'pandas' has no attribute 'dataframe'

In [ ]:
from sklearn.model_selection import KFold
kf =  KFold(n_splits=3)
model = LogisticRegression()

f1_scores = [] 

for i, (train_index, test_index) in enumerate(kf.split(X)):
    model.fit(X[train_index], y_train[train_index)
    prob_kfold = model.predict(X.iloc[test_index])
    pred_kfold = np.where(prob_kfold > 0.5, 1, 0)
    f1_scores.append(f1_score(y_train[test_index],pred_kfold))

In [ ]:
pred_train_1 = np.where(prob_train_1 > 0.5, 1, 0)

In [ ]:
pred_train_1.mean(), y_train.mean()

In [ ]:
from sklearn.metrics import *

accuracy_score(y_train, pred_train)

In [ ]:
confusion_matrix(y_train, pred_train)

In [ ]:
print(classification_report(y_train, pred_train_1))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt


fpr, tpr, thresholds = roc_curve(y_train, pred_train_1)
roc_auc = auc(fpr, tpr)

# Mirror the x-axis by converting FPR to TNR (True Negative Rate)
tnr = 1 - fpr

# Create plot
plt.figure(figsize=(10, 8))

# Plot mirrored ROC curve (TPR vs TNR)
plt.plot(tnr, tpr, color='darkorange', lw=2, 
         label=f'Mirrored ROC curve (area = {roc_auc:.3f})')

# Plot diagonal line (represents random classifier)
plt.plot([0, 1], [1, 0], color='navy', lw=2, linestyle='--')

# Set plot properties
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('True Negative Rate (1 - False Positive Rate)')
plt.ylabel('True Positive Rate')
plt.title('Mirrored Receiver Operating Characteristic (ROC) Curve')
plt.legend(loc="lower left")

# Display the plot
plt.grid(alpha=0.3)
plt.show()

# Evaluate Train Set

In [ ]:
prob_test = model.predict(X_test)

In [ ]:
pred_test = np.where(prob_test > 0.5, 1, 0)

In [ ]:
print(classification_report(y_test, pred_test))

In [ ]:
fpr, tpr, thresholds = roc_curve(y_test, pred_test)
roc_auc = auc(fpr, tpr)

# Mirror the x-axis by converting FPR to TNR (True Negative Rate)
tnr = 1 - fpr

# Create plot
plt.figure(figsize=(10, 8))

# Plot mirrored ROC curve (TPR vs TNR)
plt.plot(tnr, tpr, color='darkorange', lw=2, 
         label=f'Mirrored ROC curve (area = {roc_auc:.3f})')

# Plot diagonal line (represents random classifier)
plt.plot([0, 1], [1, 0], color='navy', lw=2, linestyle='--')

# Set plot properties
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('True Negative Rate (1 - False Positive Rate)')
plt.ylabel('True Positive Rate')
plt.title('Mirrored Receiver Operating Characteristic (ROC) Curve')
plt.legend(loc="lower left")

# Display the plot
plt.grid(alpha=0.3)
plt.show()